@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import "tailwindcss";

html {
	scroll-behavior: smooth;
}


html, body {
	-ms-overflow-style: none;
	scrollbar-width: none; 
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	min-width: 320px;
	font-family: 'Space Mono', Menlo, Monaco, Consolas, 'Liberation Mono', monospace;
	background: #f8fafc;
	color: #000000;
}

* {
	box-sizing: border-box;
}